:root {
    --progressTimer: 1;
}

body {
    background: #f8f8f8;
    height: 100%;
    position: relative;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #16161D;
}

hr {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

button {
    padding: 0;
    border: none;
    background: none;
}

    button:focus {
        outline: none;
    }


header {
    height: 150px;
}

#connectDiv {
    bottom: 0;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,.43);
    position: sticky;
}

#status {
    width: 50%;
    margin: 0 auto;
    height: 30px;
    border: 1px silver solid;
    border-radius: 4px;
    font-size: 12px;
    line-height: 26px;
    background: #f8f8f8;
}

#order {
    font-size: 12px;
    height: 32px;
}

.blur {
    backdrop-filter: blur(5px);
}

.btButton {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    height: 34px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 14px;
}

    .btButton:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

    .btButton:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .btButton:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }

#loadingPopup {
    backdrop-filter: blur(2px);
    margin: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(100, 100, 100, 0.4);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    height: 100%;
}

.loadingPopupOpen {
    visibility: visible !important;
    opacity: 1 !important;
}

#popupContent {
    margin-top: 20px;
    height: fit-content;
    background: white;
    width: 95%;
    padding: 1em 0.9em;
    padding-bottom: 56px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

    #progressContainer {
        position: fixed;
        width: 75%;
        margin: 0 auto;
        height: 25px;
        border: 1px silver solid;
        border-radius: 4px;
        background: white;
        transition: all 0.2s linear;
        opacity: 0.3;
        z-index: 300;
    }

.progressFocus {
    transform: scale(1.15, 1) translateY(-250px) !important;
    opacity: 1 !important;
}

.progressContainerOpen {
    visibility: visible !important;
    opacity: 1 !important;
}

#progress {
    height: 100%;
    width: 0;
    text-align: right;
    font: bold 12px arial;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    line-height: 30px;
}

.tile {
    color: #16161D;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,.09);
    max-width: 400px;
    text-align: left;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
    transition-duration: 0.5s;
}

.tile:focus {
    transform: scale(1.03);
}

.drinkImage {
    height: 110px;
}

    .drinkImage img {
        width: 100%;
        object-fit: cover;
    }

.drinkImagePop {
    height: 150px;
}

    .drinkImagePop img {
        object-fit: contain;
    }

.info {
    font-size: 9px;
    padding: 7px 10px;
    height: 115px;
    text-align: justify;
}

.infoPop {
    font-size: 11px;
    padding: 7px 10px;
    text-align: justify;
}

#descriptionPop {
    max-height: 140px;
    overflow: scroll;
    padding-bottom: 6px;
    padding-right: 15px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.name {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

#namePop {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.ingredients {
    font-weight: 600;
    font-size: 12px;
}

.arrow {
    right: 7%;
    top: 7%;
    z-index: 200;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #bababa;
    transition: 0.2s ease-in-out;
    position: absolute;
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background: white;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
}

.line:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.arrow:hover {
    transform: rotate(45deg);
}

#drinksBox {
    grid-template-columns: repeat(2,minmax(110px,1fr));
    grid-gap: 10px;
    display: grid;
}

.making {
    font-size: 14px;
}

#blur {
    transition: all 0.2s;
    left: 0;
    top: 0;
}

.blur {
    z-index: 250;
    backdrop-filter: grayscale(0.5) blur(5px);
}

#process {
    font-weight: 600;
    font-size: 17px;
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
    z-index: 300;
    height: 0px;
}

.processOpen {
    transform: scale(1.1);
    transform: translateY(-265px);
    visibility: visible !important;
    opacity: 1 !important;
    height: 20px;
}

#apetor {
    font-size: 5px;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    height: 50px;
    opacity: 0;
    z-index: 400;
}

@-webkit-keyframes fadeinout {
    25% { 
        opacity: 1; 
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: scale(6);
        opacity: 0;
    }
}

@keyframes fadeinout {
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: scale(6);
        opacity: 0;
    }
}

.skal {
    top: -4px;
}

.apetorFadeIn {
    -webkit-animation: fadeinout 1.3s ease-out forwards;
    animation: fadeinout 1.3s ease-out forwards;
}

@media (min-width: 1400px) {
    #drinksBox {
        grid-template-columns: repeat(4,minmax(110px,1fr));
    }
}

@media (min-width: 1000px) {
    #drinksBox {
        grid-template-columns: repeat(3,minmax(80px,1fr));
    }
}